[Unit]
Description=nginx-log-exporter
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/bin/sh PROJECT_DIR/run.sh
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=PROJECT_DIR/
Restart=always
User=root
Group=root
KillMode=control-group

[Install]
WantedBy=multi-user.target