.fetch-form {
    margin: 5px;
}

.fetch-field {
    width: 200px;
}

.fetch-button {
    background: #3273f6;
    color: white;
}

.selected-file-button {
    margin: 5px;
    padding: 5px;
    color: white;
    background: #3273f6;
}

.file-button {
    margin: 5px;
    padding: 5px;
    background: #ecf0f1;
}

.remove-copied {
    background: #e74c3c;
    color: white;
}
